@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
	--color-sand: #fff7ed;

	--color-coal: #161616;
	--color-charcoal: #201f1d;
	--color-graphite: #252525;
	--color-slate: #4d4d4d;
	--color-ash: #aaaaaa;

	--color-orange: #ff8c38;
	--color-orange-dark: #e57d2f;
	--color-orange-hover: #e67c2f;
	--color-orange-light: #ffcc8d;

	--color-peach: #ffead0;
	--color-terracotta: #e17654;
	--color-teal: #115e59;
}

html {
	font-family: "Inter", sans-serif;
}

body {
	background-color: var(--color-sand);
}
